# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-ppc.desktop

[Desktop Entry]
Comment=Lightweight Peercoin Client
Exec=electrum-ppc %u
GenericName[en_US]=Electrum-ppc
GenericName=Electrum-ppc
Icon=/usr/share/app-install/icons/electrum-ppc.png
Name[en_US]=Electrum Peercoin Wallet
Name=Electrum Peercoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/peercoin

