include README LICENCE RELEASE-NOTES AUTHORS
include electrum-ppc.conf.sample
include electrum-ppc.desktop
include *.py
include electrum-ppc
recursive-include lib *.py
recursive-include gui *.py
recursive-include plugins *.py
recursive-include packages *.py
include app.fil
include icons.qrc
recursive-include icons *
recursive-include scripts *
recursive-include data *
recursive-include locale *.mo
recursive-include docs *
